:root {
  --primary-hue: 264;
  --color-primary-100: hsl(var(--primary-hue), 73.60%, 91.20%);
  --color-primary-300: hsl(var(--primary-hue), 60%, 61.20%);
  --color-primary-500: hsl(var(--primary-hue), 73.60%, 31.20%);
  --color-primary-700: hsl(var(--primary-hue), 73.60%, 21.20%);
  --color-primary-900: hsl(var(--primary-hue), 73.60%, 11.20%);

  --secondary-hue: 130;
  --color-secondary-100: hsl(var(--secondary-hue) 96.9% 89.9%);
  --color-secondary-300: hsl(var(--secondary-hue) 50% 59.9%);
  --color-secondary-500: hsl(var(--secondary-hue) 96.9% 19.9%);
  --color-secondary-700: hsl(var(--secondary-hue) 96.9% 14.9%);
  --color-secondary-900: hsl(var(--secondary-hue) 96.9% 9.9%);

  --color-grey-1000: hsl(0 0% 0.4%);
  --color-grey-900: hsl(234 8.3% 9.4%);
  --color-grey-800: hsl(230 7.1% 16.1%);
  --color-grey-700: hsl(227 6.3% 23.6%);
  --color-grey-600: hsl(223 5.7% 31.8%);
  --color-grey-500: hsl(220 5% 47.1%);
  --color-grey-400: hsl(216 10% 60%);
  --color-grey-300: hsl(214 14% 70%);
  --color-grey-200: hsl(210 18% 80%);
  --color-grey-100: hsl(206 25% 90%);
  --color-grey-50: hsl(60 100% 99.8%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--foreground);
  background: var(--color-grey-900);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes fadeFromOpaque {
  from {
    opacity: 1;
  }
}

@keyframes fadeToOpaque {
  to {
    opacity: 1;
  }
}

@keyframes fadeFromTransparent {
  from {
    opacity: 0;
  }
}

@keyframes fadeToTransparent {
  to {
    opacity: 0;
  }
}
